{% extends "base.html" %}
{% load static %}
{% block content %}

	<table class="table">
		<tr>
			<td>name</td>
			<td>{{ object.name }}</td>
		</tr>
		<tr>
			<td>description</td>
			<td>{{ object.description }}</td>
		</tr>
		<tr>
			<td>price</td>
			<td>{{ object.price }}</td>
		</tr>
	</table>
	<p>
		<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Product</a>
	</p>
	<p>
		<a class="btn btn-primary" href="{{object.get_delete_url}}">Delete Product</a>
	</p>
	<p>
		<a class="btn btn-default" href="{% url 'product_manager_product_list' %}">Product Listing</a>
	</p>

{% endblock %}